body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #777;
}

#verificationCode {
    margin-top: 20px;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}

#whatsappLink {
    margin-top: 10px;
    display: inline-block;
    background-color: #25D366;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

#whatsappLink:hover {
    background-color: #128C7E;
}
